@using SME.SR.Infra.RelatorioPaginado.Dtos

@model CabecalhoPaginadoDto

<div class='fonte-14 header-pagina'>
    <table class='tblTopo'>
        <tbody>
            <tr>
                <td width='35%' class='espaco-esquerda-15 sem-border-bottom'>DRE: @Model.Dre</td>
                <td width='45%' class='espaco-esquerda-15 sem-border-bottom'>UE: @Model.Ue</td>
                <td width='20%' class='espaco-esquerda-15 sem-border-bottom'>ANO LETIVO: @Model.AnoLetivo</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                <td width='20%' class='espaco-esquerda-15 sem-border-bottom'>ANO: @Model.Ano</td>
                <td width='23%' class='espaco-esquerda-15 sem-border-bottom'>TURMA: @Model.Turma</td>
                <td width='57%' class='espaco-esquerda-15 sem-border-bottom'>COMPONENTE CURRICULAR: @Model.ComponenteCurricular</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                <td width='50%' class='espaco-esquerda-15 sem-border-bottom'>PROFICIÊNCIA: @Model.Proficiencia</td>
                <td width='50%' class='espaco-esquerda-15 sem-border-bottom'>PERÍODO: @Model.Bimestre</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                
                <td width='60%' class='espaco-esquerda-15'>USUÁRIO: @Model.Usuario</td>
                <td width='20%' class='espaco-esquerda-15'>RF: @Model.Rf</td>
                <td width='20%' class='espaco-esquerda-15'>DATA: @Model.DataSolicitacao</td>
            </tr>
        </tbody>
    </table>
</div>