@model SME.SR.Infra.ResumoPAPDto

@{

    int contadorQuebrarPagina = 0;
    int contadorMaximoLinhasPorPagina = 54;
    int contadorPagina = 0;

    string VerificaQuebra()
    {
        if (contadorQuebrarPagina >= contadorMaximoLinhasPorPagina)
        {
            contadorQuebrarPagina = 0;
            contadorPagina = contadorPagina + 1;

            var str = MontarCabecalho();
            return $@"<div style='page-break-before:always' />" + str;

        }
        return string.Empty;

    }

    string MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 7;
        var str =
            $@"<div>
                <img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
              </div>
              <div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
                <div class='titulo-relatorio'> RELATÓRIO DE ACOMPANHAMENTO PAP - RESUMOS</div>
                <div class='fonte-14 header-pagina'>
                <table class='tblTopo'>
                    <tbody>
                        <tr>
                            <td  width='35%' class='espaco-esquerda-15 sem-border-bottom'>DRE: {Model.DreNome}</td>
                            <td width='45%' class='espaco-esquerda-15 sem-border-bottom'>UE: {Model.UeNome}</td>
                            <td width='20%' class='espaco-esquerda-15 sem-border-bottom'>ANO LETIVO: {Model.AnoLetivo}</td>
                        </tr>
                    </tbody>
                </table>

                 <table>
                    <tbody>
                        <tr>
                            <td  width='35%' class='espaco-esquerda-15 sem-border-bottom'>CICLO: {Model.Ciclo}</td>
                            <td width='30%' class='espaco-esquerda-15 sem-border-bottom'>ANO: {Model.Ano}</td>
                            <td width='35%' class='espaco-esquerda-15 sem-border-bottom'>TURMA: {Model.Turma}</td>
                        </tr>
                    </tbody>
                </table>

                 <table>
                    <tbody>
                        <tr>
                            <td  width='100%' class='espaco-esquerda-15 sem-border-bottom'>PERÍODO: {Model.Periodo}</td>
                        </tr>
                    </tbody>
                </table>

                 <table>
                    <tbody>
                        <tr>
                            <td  width='60%' class='espaco-esquerda-15'>USUÁRIO: {Model.UsuarioNome}</td>
                            <td width='20%' class='espaco-esquerda-15'>RF: {Model.UsuarioRF}</td>
                            <td width='20%' class='espaco-esquerda-15'>DATA: {Model.Data}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            ";

        return str;
    }

    string MontarCabecalhoTabela(string cabecalho)
    {
        var str = $@"
            <table class='tabela-cabecalho'>
                <thead>
                    <th class='sem-border-bottom'>{cabecalho}</th>
                </thead>
            </table>";
        return str;
    }

    string EspacoEmBranco()
    {
        return $@"<table class='tabela-alunos'>
            <thead>
                <th class='thLimpo' width='100%'></th>
            </thead>
        </table>";
    }

    string MontarTabelaTotalEstudantes()
    {
        var totalEstudantes = Model.TotalEstudantesDto;
        var anos = Model.TotalEstudantesDto.Anos.ToList();

        var str = $@"
            <table class='tabela-cabecalho'>
                <thead>
                    <tr>";

        for (int i = 0; i < anos.Count; i++)
        {
            var ano = anos[i];
            str += $@"<th width='width%' class='sem-border-bottom'>{ano.AnoDescricao}°</th>";
        }
        
        str += $@"
                    <th width='15%' class='sem-border-bottom negrito'>TOTAL</th>
                </tr>
            </thead>
            <tbody>
        ";

        for (int i = 0; i < anos.Count; i++)
        {
            var ano = anos[i];
            var width = 85 / anos.Count;

            str += $@"<td>{ano.Quantidade} / {ano.Porcentagem}%</td>";
        }
        
        str += $@"
                    <td width='15%' class='negrito'>{totalEstudantes.QuantidadeTotal} / {totalEstudantes.PorcentagemTotal}%</td>
                </tbody>
            </table>
        ";

        return str;
    }

    string MontarTabelaFrequencia()  
    { 
        var str = $@"
            <table class='tabela-cabecalho'>
                <thead>
                    <tr>
                        <th width='20%'></th>
        ";

        foreach (var frequencias in Model.FrequenciaDto)
        {
            foreach (var linhas in frequencias.Linhas)
            {
                foreach (var anos in linhas.Anos)
                {
                    str += $@"<th>{anos.DescricaoAno}</th>";
                }
                break;
            }
            break;
        }

        str += $@"<th width='15%' class='negrito'>TOTAL</th>
                    </tr>
                </thead>
            <tbody>
        ";

        foreach (var frequencias in Model.FrequenciaDto)
        {
            foreach (var linhas in frequencias.Linhas)
            {
                var classeNegrito = frequencias.FrequenciaDescricao == "Total" ? "negrito" : "";
                var  classeFundoCinza = frequencias.FrequenciaDescricao == "Total" ? "fundo-cinza" : "";

                str += $@"
                    <tr>
                        <td class='alinhar-esquerda espaco-esquerda-15'>{frequencias.FrequenciaDescricao}</td>
                ";
                foreach (var anos in linhas.Anos)
                {
                    str += $@"<td class='{classeNegrito} {classeFundoCinza}'>{anos.Quantidade} / {anos.Porcentagem}%</td>";
                }
                str += $@"
                        <td class='negrito {classeFundoCinza}'>{linhas.QuantidadeTotalFrequencia} / {linhas.PorcentagemTotalFrequencia}%</td>
                    </tr>
                ";
            }
        }

        str += $@"
                </tbody>
            </table>
        ";
        
        return str;
    }        
 }

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório de Acompanhamento PAP - Resumos</title>
</head>
<body class="body-relatorio">
    <style>

        .tblTopo th, td {
            padding: 3px 0;
            text-align: left;
        }

        .body-relatorio {
            margin: 0.5cm auto;
            font-family: Roboto, sans-serif;
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-relatorio {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

        .header-pagina td {
            text-align: left;
        }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
        }

        .tabela-cabecalho tr {
            font-size: 12px;
            height: 24px;
        }

        .mt-25 {
            margin-top: 25px;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .espaco-esquerda-15 {
            padding-left: 15px;
        }

        .negrito {
            font-weight: bold;
        }

        .sem-border-bottom {
            border-bottom: 0;
        }

        .fundo-cinza {
            background-color: #f3f3f3;
        }

        .linha-dividida {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .linha-dividida span:first-child , .linha-span {
            border-bottom: 1px solid #42474a;
            padding-bottom: 3px;
            margin-bottom: 3px;
        }

        .ajustar-altura {
            height: 15px;
            padding: 8px 0;
        }

        .thLimpo {
            background-color: #ffffff;
            border-top: 0;
            border-bottom: 0;
            height: 22px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }
    </style>
    <div>
        @{
            @Html.Raw(MontarCabecalho())

            @Html.Raw(MontarCabecalhoTabela("TOTAL DE ESTUDANTES"))

            @Html.Raw(MontarTabelaTotalEstudantes())

            @Html.Raw(EspacoEmBranco())

            if (Model.EhEncaminhamento)
            {
                @Html.Raw(MontarCabecalhoTabela("INFORMAÇÕES ESCOLARES"))

                <table class='tabela-cabecalho'>
                    <thead>
                        <tr>
                            <th width='17.5%'></th>
                            <th width='12.5%'></th>
                            <th>4</th>
                            <th width='10%'  class="negrito">Total</th>                            
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td class="alinhar-esquerda espaco-esquerda-15">É atendido pelo AEE?</td>                           
                            <td>
                                <div class="linha-dividida alinhar-esquerda">
                                    <span class="espaco-esquerda-15">Sim</span>
                                    <span class="espaco-esquerda-15">Não</span>
                                </div>
                            </td>
                            <td>
                                <div class="linha-dividida">
                                    <span>0 / 0%</span>
                                    <span>10 / 13,89%</span>
                                </div>
                            </td>
                            <td>
                                <div class="linha-dividida negrito">
                                    <span>2 / 2,78%</span>
                                    <span>100 / 97,22%</span>
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td class="alinhar-esquerda espaco-esquerda-15">É atendido pelo NAAPA?</td>                           
                            <td>
                                <div class="linha-dividida alinhar-esquerda">
                                    <span class="espaco-esquerda-15">Sim</span>
                                    <span class="espaco-esquerda-15">Não</span>
                                </div>
                            </td>
                            <td>
                                <div class="linha-dividida">
                                    <span>0 / 0%</span>
                                    <span>10 / 13,89%</span>
                                </div>
                            </td>
                            <td>
                                <div class="linha-dividida negrito">
                                    <span>2 / 2,78%</span>
                                    <span>70 / 97,22%</span>
                                </div>
                            </td>
                        </tr>
                        
                         <tr>
                            <td class="alinhar-esquerda espaco-esquerda-15">Parecer conclusivo do ano anterior</td>                           
                            <td>
                                <div class="linha-dividida alinhar-esquerda">
                                    <span class="espaco-esquerda-15">Aprovado</span>
                                    <span class="espaco-esquerda-15 linha-span">Aprovado pelo conselho</span>
                                    <span class="espaco-esquerda-15">Retido</span>
                                </div>
                            </td>
                            <td>
                                <div class="linha-dividida">
                                    <span>0 / 0%</span>
                                    <span class="linha-span ajustar-altura">10 / 13,89%</span>
                                    <span>10 / 13,89%</span>
                                </div>
                            </td>
                            <td>
                                <div class="linha-dividida negrito">
                                    <span>2 / 2,78%</span>
                                    <span class="linha-span ajustar-altura">70 / 97,22%</span>
                                    <span>70 / 97,22%</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>    

                var json = Newtonsoft.Json.JsonConvert.SerializeObject(Model.EncaminhamentoDto);
                <div>@json</div>
            }
            else
            {
                @Html.Raw(MontarCabecalhoTabela("FREQUÊNCIA"))

                @Html.Raw(MontarTabelaFrequencia())                
            }
        }
    </div>
</body>
</html>