@model SME.SR.Infra.RelatorioFrequenciaIndividualDto

@{
    double contadorQuebrarPagina = 0;
    int contadorMaximoLinhasPorPagina = 48;
    int contadorEspacoEmBranco = 4;
    bool quebrou = false;

    string informacoesQuebra()
    {
        @Html.Raw("</tbody></table>");
        @Html.Raw("<div style='page-break-before:always'></div>");

        return "";
    }

    void MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 8;
        <div>
            <img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
        </div>
        <div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
        <div class='titulo-relatorio'>RELATÓRIO DE FREQUÊNCIA INDIVIDUAL</div>
        <div class='fonte-14 header-pagina'>
            <table class='tblTopo'>
                <tbody>
                    <tr>
                        <td width='20%' class='espaco-esquerda-15'>DRE: @Model.DreNome</td>
                        <td width='80%' class='espaco-esquerda-15'>UE: @Model.UeNome</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td width='60%' class='sem-border-top espaco-esquerda-15'>USUÁRIO: @Model.Usuario</td>
                        <td width='18%' class='sem-border-top espaco-esquerda-15'>RF: @Model.RF</td>
                        <td width='22%' class='sem-border-top espaco-esquerda-15'>DATA: @Model.Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    bool VerificaQuebra(int numeroLinhasDescricao = 0)
    {
        if (contadorQuebrarPagina + numeroLinhasDescricao >= contadorMaximoLinhasPorPagina)
        {
            contadorQuebrarPagina = 0;
            contadorQuebrarPagina = contadorQuebrarPagina + 1;
            quebrou = true;
            return true;
        }
        quebrou = false;
        return false;
    }

    void EspacoEmBranco()
    {
        <tr style="height: 8px;">
            <td colspan="7" class="sem-border-top"></td>
        </tr>

        if(contadorEspacoEmBranco == 4)
        {
            contadorEspacoEmBranco = 0;
            contadorQuebrarPagina++;
        }
    }

    void MontarTituloPrincipal(string turmaDescricao, int colspan)
    {
        <tr>
            <td colspan="@colspan" class="fundo-cinza">@turmaDescricao @contadorQuebrarPagina</td>
        </tr>
    }

    void MontarTituloTabela()
    {
        <tr>
            <td width="16%" class="fundo-cinza">AULAS DADAS</td>
            <td width="16%" colspan="2" class="fundo-cinza">PRESENÇAS</td>
            <td width="16%" class="fundo-cinza">REMOTO</td>
            <td width="16%" class="fundo-cinza">AUSÊNCIAS</td>
            <td width="16%" class="fundo-cinza">COMPENSAÇÕES</td>
            <td width="20%" class="fundo-cinza">% DE FREQUÊNCIA @contadorQuebrarPagina</td>
        </tr>
    }

    void MontarLinhasTabela(SME.SR.Infra.RelatorioFrequenciaIndividualDadosFrequenciasDto dadosFrequencia)
    {
        <tr>
            <td>@dadosFrequencia.TotalAulasDadas</td>
            <td colspan="2">@dadosFrequencia.TotalPresencas</td>
            <td>@dadosFrequencia.TotalRemoto</td>
            <td>@dadosFrequencia.TotalAusencias</td>
            <td>@dadosFrequencia.TotalCompensacoes</td>
            <td>@dadosFrequencia.PercentualFrequencia @contadorQuebrarPagina</td>
        </tr>
    }

    void MontarTituloJustificativas()
    {
        <tr>
            <td width="25%" colspan="2" class="fundo-cinza">DATA DA AUSÊNCIA</td>
            <td width="75%" colspan="5" class="fundo-cinza">MOTIVO @contadorQuebrarPagina</td>
        </tr>
    }


    void MontarLinhasJustificativas(SME.SR.Infra.RelatorioFrequenciaIndividualJustificativasDto justificativas)
    {
        <tr>
            <td colspan="2">@justificativas.DataAusencia</td>
            <td colspan="5" class="alinhar-esquerda espaco-esquerda-15">@justificativas.MotivoAusencia @contadorQuebrarPagina</td>
        </tr>
    }

    void MontarJustificativas(SME.SR.Infra.RelatorioFrequenciaIndividualBimestresDto bimestres)
    {
        int contadorJustificativas = 0;
        @foreach (var justificativas in bimestres.Justificativas)
        {
            @if (contadorJustificativas == 0)
            {
                EspacoEmBranco();

                MontarTituloJustificativas();
                contadorQuebrarPagina++;
            }

            MontarLinhasJustificativas(justificativas);
            contadorQuebrarPagina++;

            contadorJustificativas++;
        } 
    }
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RELATÓRIO DE FREQUÊNCIA INDIVIDUAL</title>
</head>
<body class="body-relatorio">
    <style>
        .tblTopo th, td {
            padding: 3px;
            text-align: left;
        }

        .body-relatorio {
            margin: 0.5cm auto;
            font-family: Roboto, sans-serif;
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-relatorio {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .subtitulo-relatorio {
            text-align: right;
            font-size: 12.5px;
            margin-top: 7px;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
            }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
        }

            td span {
                font-size: 12px;
            }

        .tabela-cabecalho tr {
            font-size: 14px;
            height: 24px;
        }

        .mt-25 {
            margin-top: 25px;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .espaco-esquerda-15 {
            padding-left: 15px;
        }

        .fundo-cinza {
            background-color: #f3f3f3;
        }

        .negrito {
            font-weight: bold;
        }

        .sem-border-bottom {
            border-bottom: 0;
        }

        .sem-border-top {
            border-top: 0;
        }

        .thLimpo {
            background-color: #ffffff;
            border: 0;
            height: 22px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .centralizar {
            text-align: center;
        }

        .linha-pendencias {
            height: 17px !important;
            font-size: 12px !important;
        }
    </style>
    <div>
        @{
            MontarCabecalho();

            <table class="tabela-cabecalho" cellpadding="10">
                @foreach (var alunos in Model.Alunos)
                {
                    MontarTituloPrincipal(alunos.NomeAluno, 7);
                    contadorQuebrarPagina++;

                    int contadorBimestres = 0;
                    @foreach (var bimestres in alunos.Bimestres)
                    {
                        MontarTituloPrincipal(bimestres.NomeBimestre, 7);
                        contadorQuebrarPagina++;

                        MontarTituloTabela();
                        contadorQuebrarPagina++;

                        MontarLinhasTabela(bimestres.DadosFrequencia);
                        contadorQuebrarPagina++;

                        MontarJustificativas(bimestres);

                        contadorBimestres++;
                    }
                }
            </table>        
    }
    </div>
</body>
</html>
