@using SME.SR.Infra;

@model SME.SR.Infra.ConselhoClasseAtaFinalPaginaDto


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório Atas de Conselho</title>
</head>
<body class="body-rel-atas">
    <style>
        @@page {
            size: landscape;
        }

        .body-rel-atas {
            font-family: 'Roboto Mono';
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-ata {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
            }

        .campo-dre {
            width: 345px;
        }

        .campo-ue {
            width: 353px;
        }

        .campo-turma {
            width: 188px;
        }

        .campo-data-ano {
            width: 188px;
            border-top: none;
        }

        .campo-ciclo {
            width: 692px;
            border-top: none;
        }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #dedede;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
            min-width: 13px;
        }

        .tabela-alunos tr {
            font-size: 7px;
        }

        .fonte-10 {
            font-size: 10px !important;
        }

        .fonte-8 {
            font-size: 8px !important;
        }

        .fonte-7 {
            font-size: 7px !important;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .tamanho-15 {
            width: 15px !important;
        }

        .tamanho-115 {
            width: 115px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .alinhar-centro {
            text-align: center;
        }

        .rodape-rel-atas {
            margin-top: 10px;
            font-size: 9px;
            font-weight: bold;
        }

        .titulo-sgp-rodape {
            text-align: left;
        }

        .contador-pagina {
            text-align: right;
            font-size: 12px;
        }

        .estudante-inativo {
            background-color: #f2f2f2;
        }
    </style>

    <div class="margin-rel-atas">
        <div>
            <img class="img-logo-sgp" src="logo.png" alt="Logo SGP" />
        </div>
        <div class="titulo-sgp">SGP - Sistema de gestão Pedagógica</div>
        <div class="titulo-ata">ATA FINAL DE RESULTADOS</div>

        <div class="fonte-14 header-pagina">
            <table>
                <tbody>
                    <tr>
                        <td class="campo-dre">DRE: @Model.Cabecalho.Dre</td>
                        <td class="campo-ue">Unidade Escolar (UE): @Model.Cabecalho.Ue</td>
                        <td class="campo-turma">TURMA: @Model.Cabecalho.Turma</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class="campo-ciclo">CICLO: @Model.Cabecalho.Ciclo</td>
                        <td class="campo-data-ano">ANO LETIVO: @Model.Cabecalho.AnoLetivo</td>
                        <td class="campo-data-ano">DATA: @Model.Cabecalho.Data</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="tabela-alunos">
            <thead>
                <tr class="fonte-8">
                    <th colspan="2"></th>
                    @foreach (var grupoMatriz in Model.GruposMatriz)
                    {
                        foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares)
                        {
                            if (Model.EhEJA)
                            {
                                <th colspan="6">@componenteCurricular.Nome</th>
                            }
                            else
                            {
                                <th colspan="@(componenteCurricular.Colunas.Count)">@componenteCurricular.Nome</th>
                            }
                        }
                    }
                    @if (Model.FinalHorizontal)
                    {
                        <th colspan="4">Anual</th>
                    }
                </tr>
                <tr>
                    <th class="fonte-8 tamanho-15 alinhar-centro">Nº</th>
                    <th class="fonte-8 tamanho-125 alinhar-esquerda">Nome</th>

                    @foreach (var grupoMatriz in Model.GruposMatriz)
                    {
                        foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares)
                        {
                            foreach (var coluna in componenteCurricular.Colunas)
                            {
                                <th>@coluna.Nome</th>
                            }
                        }
                    }
                    @if (Model.FinalHorizontal)
                    {
                        <th>F</th>
                        <th>CA</th>
                        <th>%</th>
                        <th>Parecer conclusivo</th>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var linha in Model.Linhas)
                {
                    IEnumerable<ConselhoClasseAtaFinalCelulaDto> celulas = linha.Celulas;

                    <tr class="@(linha.Inativo ? " estudante-inativo" : "" )">
                        <td class="alinhar-centro">@linha.Id</td>

                        @if (linha.Inativo)
                        {
                            <td class="alinhar-esquerda fonte-8">@linha.Nome (@linha.Situacao)</td>
                        }
                        else
                        {
                            <td class="alinhar-esquerda fonte-8">@linha.Nome</td>
                        }

                        @foreach (var grupoMatriz in Model.GruposMatriz)
                        {
                            foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares)
                            {
                                foreach (var celula in ((IEnumerable<ConselhoClasseAtaFinalCelulaDto>)celulas).Where(a => a.ComponenteCurricular == componenteCurricular.Id))
                                {
                                    <td>@celula.Valor</td>
                                }
                            }
                        }

                        @foreach (var celula in ((IEnumerable<ConselhoClasseAtaFinalCelulaDto>)celulas).Where(a => a.GrupoMatriz == 99))
                        {
                            <td>@celula.Valor</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <footer class="rodape-rel-atas">
            <div class="titulo-sgp-rodape">
                SGP - SISTEMA DE GESTÃO PEDAGÓGICA | ATA FINAL DE RESULTADOS
            </div>
            <div class="contador-pagina">@Model.NumeroPagina / @Model.TotalPaginas</div>
        </footer>
    </div>
</body>
</html>
