@using SME.SR.Infra;

@model SME.SR.Infra.ConselhoClasseAtaFinalPaginaDto


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório Atas de Conselho</title>
</head>
<body class="body-rel-atas">
    <style>
        @@page {
            size: landscape;
        }

        .body-rel-atas {
            font-family: 'Roboto Mono';
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-ata {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
            }

        .campo-dre {
            width: 345px;
        }

        .campo-ue {
            width: 353px;
        }

        .campo-turma {
            width: 188px;
        }

        .campo-data-ano {
            width: 188px;
            border-top: none;
        }

        .campo-ciclo {
            width: 692px;
            border-top: none;
        }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #dedede;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
            min-width: 13px;
        }

        .tabela-alunos tr {
            font-size: 8px;
        }

        .fonte-10 {
            font-size: 10px !important;
        }

        .fonte-8 {
            font-size: 8px !important;
        }

        .fonte-9 {
            font-size: 9px !important;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .tamanho-15 {
            width: 15px !important;
        }

        .tamanho-115 {
            width: 115px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .alinhar-centro {
            text-align: center;
        }

        .rodape-rel-atas {
            margin-top: 10px;
            font-size: 9px;
            font-weight: bold;
        }

        .titulo-sgp-rodape {
            text-align: left;
        }

        .contador-pagina {
            text-align: right;
            font-size: 12px;
        }

        .estudante-inativo {
            background-color: #f2f2f2;
        }

        .tamanho-20 {
            width: 18%;
        }

        .tamanho-1-5 {
            width: 1.5%;
        }

        .tamanho-1-3 {
            width: 1.36%;
        }

        .tamanho-7 {
            width: 7%;
        }

        .legenda {
            margin-top: 7px;
            font-size: 10px !important;
        }
    </style>

    <div class="margin-rel-atas">
        <div>
            <img class="img-logo-sgp" src="logo.png" alt="Logo SGP" />
        </div>
        <div class="titulo-sgp">SGP - Sistema de gestão Pedagógica</div>
        <div class="titulo-ata">ATA FINAL DE RESULTADOS</div>

        <div class="fonte-14 header-pagina">
            <table>
                <tbody>
                    <tr>
                        <td class="campo-dre">DRE: @Model.Cabecalho.Dre</td>
                        <td class="campo-ue">Unidade Escolar (UE): @Model.Cabecalho.Ue</td>
                        <td class="campo-turma">TURMA: @Model.Cabecalho.Turma</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td class="campo-ciclo">CICLO: @Model.Cabecalho.Ciclo</td>
                        <td class="campo-data-ano">ANO LETIVO: @Model.Cabecalho.AnoLetivo</td>
                        <td class="campo-data-ano">DATA: @Model.Cabecalho.Data</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="tabela-alunos">
            <thead>
                @{
                    var totalColunas = 0;
                    <tr>
                        <th rowspan="2" colspan="2"></th>
                        @foreach (var grupoMatriz in Model.GruposMatriz)
                        {
                            totalColunas += grupoMatriz.ComponentesCurriculares.Sum(componente => componente.Colunas.Count);

                            if (grupoMatriz.Regencia)
                            {
                                var totalColunaRegencia = grupoMatriz.ComponentesCurriculares.Where(componente => componente.Regencia).Sum(componente => componente.Colunas.Count);
                                
                                <th class="fonte-9" colspan="@totalColunaRegencia">Regência de Classe</th>
                            }

                            foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares.Where(componente => !componente.Regencia))
                            {
                                <th rowspan="2" colspan="@componenteCurricular.Colunas.Count">@componenteCurricular.Nome</th>
                            }
                        }
                        @if (Model.FinalHorizontal)
                        {
                            <th rowspan="2" colspan="4">Anual</th>
                        }
                    </tr>

                    var tamanhoPagina = Model.FinalHorizontal ? 69.42 : 80.5;
                    var tamanhoColuna = totalColunas > 0 ? tamanhoPagina / totalColunas : 1.36;
                    var percentualColuna = tamanhoColuna.ToString().Replace(",", ".") + "%";
                }
                <tr>
                    @foreach (var grupoMatriz in Model.GruposMatriz)
                    {
                        foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares)
                        {
                            if (componenteCurricular.Regencia)
                            {
                                <th class="fonte-9" colspan="@(componenteCurricular.Colunas.Count)">@componenteCurricular.Nome</th>
                            } 
                        }
                    }
                </tr>
                <tr>
                    <th class="fonte-9 tamanho-1-5 alinhar-centro">Nº</th>
                    <th class="fonte-9 tamanho-20 alinhar-esquerda">Nome</th>

                    @foreach (var grupoMatriz in Model.GruposMatriz)
                    {
                        foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares)
                        {
                            foreach (var coluna in componenteCurricular.Colunas)
                            {
                                <th class="fonte-9" style="width:@(percentualColuna)">@coluna.Nome</th>
                            }
                        }
                    }
                    @if (Model.FinalHorizontal)
                    {
                        <th class="fonte-9 tamanho-1-3">F</th>
                        <th class="fonte-9 tamanho-1-3">CA</th>
                        <th class="fonte-9 tamanho-1-3">%</th>
                        <th class="fonte-9 tamanho-7">Parecer conclusivo</th>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var linha in Model.Linhas)
                {
                    IEnumerable<ConselhoClasseAtaFinalCelulaDto> celulas = linha.Celulas;

                    <tr class="@(linha.Inativo ? " estudante-inativo" : "" )">
                        <td class="alinhar-centro">@linha.Id</td>

                        <td class="alinhar-esquerda fonte-8">@linha.Nome</td>

                        @foreach (var grupoMatriz in Model.GruposMatriz)
                        {
                            foreach (var componenteCurricular in grupoMatriz.ComponentesCurriculares)
                            {
                                foreach (var celula in ((IEnumerable<ConselhoClasseAtaFinalCelulaDto>)celulas).Where(a => a.ComponenteCurricular == componenteCurricular.Id))
                                {
                                    <td>@celula.Valor</td>
                                }
                            }
                        }

                        @foreach (var celula in ((IEnumerable<ConselhoClasseAtaFinalCelulaDto>)celulas).Where(a => a.GrupoMatriz == 99))
                        {
                            <td>@celula.Valor</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="legenda">
            <table>
                <tbody>
                    <tr>
                        <td><strong>Continuidade: </strong>Continuidade dos estudos</td>
                        <td><strong>Ret Freq: </strong>Retido por frequência</td>
                        <td><strong>Prom Cons: </strong>Promovido pelo conselho</td>
                        <td><strong>DES: </strong>Desistente</td>
                        <td><strong>TR: </strong>Transferido</td>
                        <td><strong>VI: </strong>Vínculo Indevido</td>
                        <td><strong>FL: </strong>Falecido</td> 
                        <td><strong>DESL: </strong>Deslocamento</td>
                        <td><strong>CES: </strong>Cessado</td> 
                        <td><strong>RM: </strong>Remanejado Saída</td> 
                        <td><strong>RC: </strong>Reclassificado Saída</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="rodape-rel-atas">
            <div class="titulo-sgp-rodape">
                SGP - SISTEMA DE GESTÃO PEDAGÓGICA | ATA FINAL DE RESULTADOS
            </div>
            <div class="contador-pagina">@Model.NumeroPagina / @Model.TotalPaginas</div>
        </footer>
    </div>
</body>
</html>
