@model SME.SR.Infra.RelatorioCompensacaoAusenciaDto

@{

    int contadorQuebrarPagina = 0;
    int contadorMaximoLinhasPorPagina = 46;
    int contadorPagina = 0;

    string VerificaQuebra()
    {
        if (contadorQuebrarPagina >= contadorMaximoLinhasPorPagina)
        {
            contadorQuebrarPagina = 0;
            contadorPagina = contadorPagina + 1;

            var str = MontarCabecalho();
            return $@"<div style='page-break-before:always' />" + str;

        }
        return string.Empty;

    }

    string MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 7;
        var str =
           $@"<div>
<img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
</div>
<div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
<div class='titulo-relatorio'>COMPENSAÇÃO DE AUSÊNCIA</div>
<div class='fonte-14 header-pagina'>
<table class='tblTopo'>
<tbody>
<tr>
<td  width='40%' class='sem-border-bottom'>DRE: {Model.DreNome}</td>
<td width='40%' class='sem-border-bottom'>UE: {Model.UeNome}</td>
<td  width='20%' class='sem-border-bottom'>TURMA: {Model.TurmaNome}</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td width='70%' class='sem-border-bottom'>COMPONENTE CURRICULAR: {Model.ComponenteCurricular}</td>
<td width='30%' class='sem-border-bottom'>BIMESTRE: {Model.Bimestre}</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td width='80%'>MODALIDADE: {Model.Modalidade}</td>
<td width='20%'>DATA: {Model.Data}</td>
</tbody>
</table>
</div>
";

        return str;
    }

    string MontarCabecalhoCompensacoes()
    {
        var str = $@"
<table class='tabela-alunos'>
<thead>
<th class='sem-border-bottom' width='5%'>Nº</th>
<th class='sem-border-bottom' width='60%'>NOME</th>
<th class='sem-border-bottom' width='25%'>AUSÊNCIAS COMPENSADAS</th>
<th class='sem-border-bottom' width='10%'>%FREQ.</th>
</thead>
</table>";
        return str;
    }

    string MontarTabelaCompensacoes(List<SME.SR.Infra.RelatorioCompensacaoAusenciaCompensacaoAlunoDto> compensacoes)
    {
        var str = $@"<table class='tabela-alunos' style='border-bottom:none;'>
<tbody>";
        for (int i = 0; i < compensacoes.Count; i++)
        {
            var compensacao = compensacoes[i];
            str += $@"
<tr>
<td width='5%' style='text-align:center; padding:0;'>{compensacao.NumeroChamada}</th>
<td width='60%' style='text-align:left'>{compensacao.NomeAluno}</th>
<td width='25%' style='text-align:center'>{compensacao.TotalCompensacoes}</th>
<td width='10%' style='text-align:center; padding:0;'>{compensacao.Frequencia}</th>
</tr>";
            contadorQuebrarPagina++;
            var quebra = VerificaQuebra();
            var novaPagina = quebra + (i < compensacoes.Count - 1 ? MontarCabecalhoCompensacoes() : "");
            str += quebra.Length > 0 ? $@"</tbody></table>{novaPagina}<table class='tabela-alunos'><tbody>" : "";
        }
        str += $@"</tbody></table>";
        return str;
    }


}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compensação de Ausência</title>
</head>
<body class="body-relatorio">
    <style>

        tblTopo th, td {
            padding: 3px 0px 3px 15px;
            text-align: left;
        }

        .body-relatorio {
            margin: 0.5cm auto;
            font-family: Roboto, sans-serif;
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-relatorio {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
            }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
        }

        .tabela-alunos tr {
            font-size: 12px;
            height: 24px;
        }

        .mt-25 {
            margin-top: 25px;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .rodape-rel-faltas-frequencia {
            margin-top: 10px;
            font-size: 9px;
            font-weight: bold;
        }

        .titulo-sgp-rodape {
            float: left;
        }

        .contador-pagina {
            float: right;
            font-size: 15px;
        }

        .thLimpo {
            background-color: #ffffff;
        }

        .sem-border-bottom {
            border-bottom: 0;
        }
    </style>
    <div id="principal">


    </div>
</body>
<script>
    var tamanhoMaximoPagina = 800;
    var quebra = stringToHTML("<div style='page-break-before:always' />");
    var elementoPrincipal = document.getElementById("principal");
    window.onload = function () {
        @{
        <text>
        var str = `<p><br></p><p dir='ltr' style='line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;'><strong style='font-weight:normal;' id='docs-internal-guid-2d31cb73-7fff-dc32-22b7-1eca10058506'><span style='font-size:12pt;font-family:'Apple Chancery';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>PERCURSO DA TURMA - ENSINO PRESENCIAL</span></strong></p><div dir='ltr' style='margin-left:-5.4pt;' align='left'><table style='border:none;border-collapse:collapse;'><colgroup><col width='661'></colgroup><tbody><tr style='height:260.35pt'><td style='border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:top;padding:0pt 5.4pt 0pt 5.4pt;overflow:hidden;overflow-wrap:break-word;'><p dir='ltr' style='line-height:1.2;text-indent: 35.4pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>O infantil IID está composto por 32 crianças matriculadas, das quais 13 estão no ensino presencial e 19 estão no ensino remoto. As crianças que estão no ensino presencial estão sendo atendidas pelas professoras Gabriela e Luciana; as que estão no ensino remoto estão sendo atendidas pela professora Ellen. Após um longo período de aulas remotas, esse ano voltamos a atender de forma presencial, com cerca de 35% da capacidade da sala referência, uma média de nove crianças por turma. As famílias cujas crianças estão no ensino remoto recebem um compilado diário de uma sugestão de leitura e de uma proposta a ser desenvolvida, por meio das plataformas Google Classroom, Facebook institucional e WhatsApp da turma. A família que não tem acesso às mídias sociais tem a possibilidade de retirar na escola o jornalzinho semanal, com todas as sugestões e propostas da semana. Vale ressaltar que todas as propostas ofertadas às crianças que estão no ensino remoto são também oferecidas no ensino presencial, levando em consideração as peculiaridades e as necessidades das famílias (acesso a materiais, por exemplo).&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As crianças demonstraram muita empolgação e ansiedade por estar de volta ao ambiente escolar, o que teve impacto direto no período de adaptação da turma, que foi tranquilo, sem manifestação externa de medos ou anseios.</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Por conta do período pandêmico que estamos vivendo, muitas das atividades permanentes e a organização dos espaços e materiais tiveram que ser repensadas. Cada criança possui seu próprio material para uso diário (lápis de colorir, cola, pincel, massinha de modelar, tinta guache, copo para beber água, máscaras de proteção facial, caixa de brinquedos, caderno de desenho, livros e gibis), sem a possibilidade de troca entre elas. Na sala referência, as crianças sentam em lugares fixos, uma por mesa, de forma a evitar a aglomeração. Da mesma forma ocorre no refeitório e nos demais espaços da unidade. O parque é utilizado por uma turma de cada, com intervalos entre cada turma para que os brinquedos possam ser higienizados. Do ponto de vista pedagógico, essa forma de organizar os espaços e os materiais não favorece o desenvolvimento dos eixos norteadores da educação infantil - brincadeira e interação - apresentados no documento Currículo da Cidade para a Educação Infantil. Entretanto, essa é a forma possível apresentada pela Secretaria Municipal de Saúde para garantir o atendimento presencial.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As propostas pedagógicas consideraram o aspecto híbrido da divisão da turma, de forma a garantir uma oferta de qualidade para todos. Nesse sentido, procuramos oferecer propostas que valorizassem: o cuidado com o próprio corpo e com os sentimentos; as diferentes culturas nos aspectos linguísticos, literários e das culturas infantis (indígenas, africanas, sul-americanas); as diferentes formas de expressão artística; o contato com a função social da escrita; a leitura e contato com os livros literários; o contato e o cuidado com a natureza e os elementos naturais; a criatividade e a imaginação infantil.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Mesmo com essa organização mais restritiva das interações e dos materiais, procuramos incentivar o protagonismo infantil, a autonomia e o exercício dos princípios democráticos a partir de votações cotidianas, nas quais as crianças têm a possibilidade de decidir sobre aspectos da rotina (escolha de propostas como caixa de brinquedo, modelagem de massinha/argila), escolha de histórias e brincadeiras, de propostas que elas queiram realizar/pesquisar como as fases da lagarta e os cartazes construídos a partir de seus interesses.</span></p><p dir='ltr' style='line-height:1.2;text-indent: 35.4pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>De maneira geral, a turma demonstra ser observadora e participativa, expondo suas opiniões e considerações a todo o momento, inclusive insatisfações quando alguma proposta não agrada e sugestões para alterá-la. &nbsp; &nbsp; As brincadeiras dirigidas propostas – como amarelinha; amarelinha africana; pular elástico; coelhinho sai da toca; Vivo-morto, entre outras -&nbsp; são bem aceitas e reproduzidas em momentos de brincadeira espontânea, o que indica uma apropriação destas em suas vivências. Por conta dos protocolos sanitários, se faz necessário a retomada constante dos combinados coletivos, de forma a evitar troca de materiais/brinquedos e aglomerações (o que elas não gostam muito, mas entendem, por medo de ter as aulas presenciais suspensas novamente). Os conflitos, quando ocorrem, necessitam de nossa intervenção direta, pois percebemos que as crianças ainda estão se adaptando novamente ao convívio coletivo que a escola oportuniza.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Essa nova forma de organização das propostas e materiais não é a mais adequada, mas, a cada dia, vamos aprendendo juntos o que não dá certo e o que pode melhorar, ou ainda pode ser feito de uma forma diferente. São essas experiências compartilhadas que legitimam o fazer pedagógico a partir dos interesses&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>das crianças. &nbsp;&nbsp;</span></p><br><br><span style='border:none;display:inline-block;overflow:hidden;width:238px;height:179px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.00.22 (1).jpeg' src='https://lh4.googleusercontent.com/16M94V1QifMWYfFoUtX7LYzOobjJEeRX2Blze6RLyR2meWGhe45GOzFOtqN9v91PY5pYxUDhrcKmjK1wLl_S9EigyuWGIPLbx8EYnhPUKnri2J8_juZGZWeqahE7ax7CVv8zlBOZ' width='238' height='179' style='margin-left:0px;margin-top:0px;'></span><span style='border:none;display:inline-block;overflow:hidden;width:244px;height:172px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.54.24.jpeg' src='https://lh3.googleusercontent.com/GzrRrjoCzaNqfjldyTR-e8zeffAVjC9soVq5Nf6mJ9vESgMs3ahnmIxbHJjR0T2xjOg-zl_tY62dRroSE5wuLe6YONjXX7GOcQ38WAqozAfk49pBGWQU6ZuDeM7tkxkEYZwARxSR' width='244' height='172' style='margin-left:0px;margin-top:0px;'></span><br><span style='border:none;display:inline-block;overflow:hidden;width:249px;height:186px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.54.01.jpeg' src='https://lh5.googleusercontent.com/nj26NDQ8C_BQPgOPt4bfrbzMhW7xy_gK6YQ4Z2tKuJla0yEMbx_aobjQcKW9bnjefkwCcVpt16nRaRPxKRK0rEOfBbADZ6IciHtdeiaYutGRVNj8UwMcwZuYsajk8WVcLQ7IeO8p' width='249' height='186' style='margin-left:0px;margin-top:0px;'></span><span style='border:none;display:inline-block;overflow:hidden;width:238px;height:179px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.43.20.jpeg' src='https://lh4.googleusercontent.com/sHRsrhRZJwm7zMGePAPjUNc3Xae-iy3MIr5PMFEYYmBMTY1U7EKNMgCBcSHAw2cC500V8J9T3Y8hH4vY43S_YaaNc_i5C7iWOCsomAl1iYxsZtIW3py9VUEk1q7LrQD-xn0xQTGP' width='238' height='179' style='margin-left:0px;margin-top:0px;'></span></td></tr></tbody></table></div><p><strong style='font-weight:normal;' id='docs-internal-guid-2d31cb73-7fff-dc32-22b7-1eca10058506'><br><br><p dir='ltr' style='line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>PERCURSO DA TURMA - ENSINO REMOTO</span></p><br><div dir='ltr' style='margin-left:-5.4pt;' align='left'><table style='border:none;border-collapse:collapse;'><colgroup><col width='661'></colgroup><tbody><tr style='height:260.35pt'><td style='border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:top;padding:0pt 5.4pt 0pt 5.4pt;overflow:hidden;overflow-wrap:break-word;'><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Seguindo a Normativa nº 01 de 28/01/2021, que prevê o atendimento de até 65% dos alunos no formato online ,atendidos pela plataforma oficial da SME - Google Classroom&nbsp; e observando o decreto Decreto nº 59.283/2020, que declara situação de emergência no Município de São Paulo e define outras medidas para o enfrentamento da pandemia decorrente do coronavírus, nós professores e comunidade de ensino da “EMEI ANGELO KRETA' objetivando facilitar a comunicação e melhor conduzir o planejamento pedagógico, nesse primeiro semestre de 2021, elaboramos propostas baseadas em eixos norteadores tendo como objetivo atender às múltiplas demandas educativas da infância, através de propostas lúdicas, promovendo o desenvolvimento de habilidades cognitivas e motoras, as interações no ambiente familiar, ampliação e diversificação de repertórios culturais e saberes, a consciência social e ambiental, além de diversos valores que contribuem para o desenvolvimento emocional, o respeito e a empatia, amparados pelo “Currículo da Cidade de São Paulo” e “Caderno Trilhas de Aprendizagem”, contemplando os direitos da Base Nacional Comum Curricular (BNCC): conviver, brincar, participar, explorar, expressar e conhecer-se.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>A comunidade escolar diante deste desafio do ensino remoto, aprimorou-se&nbsp; profissionalmente para um atendimento remoto de qualidade, ampliando a comunicação com as famílias, objetivando ofertar atividades inclusivas, atrativas e lúdicas, que estimulem a criatividade, a construção de hipóteses, a observação, a ampliação das possibilidades corporais, a comunicação oral, a interação, a manutenção do vínculo com a família e prioritariamente, promovermos ações&nbsp; com foco no acolhimento através de vivências que intencionavam ofertar ferramentas e competências para que as crianças saibam como lidar com o contexto atual. Buscamos incansavelmente meios para suprir as necessidades do ensino remoto, principalmente quando falamos de ensino remoto na educação infantil. Isso porque a concepção de infância que acreditamos traz como um dos preceitos básicos a interação, a exploração, o vivenciar, o experimentar e o brincar que&nbsp; permeiam todas essas ações.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Nesse momento de ensino remoto, as residências das famílias foram consideradas nosso território formativo e potente para a realização das propostas e vivências, ou seja, as casas foram consideradas como um possível “laboratório para se descobrir coisas”: pular, correr, pintar, cozinhar, lavar a louça, ler um livro, teatralizar, contar histórias, caças aos tesouros (como álbuns fotográficos) e até mesmo a realização de uma receita culinária na cozinha da família. Tendo em vista que ⅔ de nossas crianças estão sendo&nbsp; atendidas na modalidade remota, planejamos ações que objetivaram tornar o espaço doméstico em um território de inventar brincadeiras e associá-las aos conhecimentos mais diversos.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>O modelo de ensino remoto inviabiliza a elaboração de um relatório de acompanhamento mais revelador das conquistas, aprendizagens, desenvolvimento e trajetória de cada criança a partir do olhar atento do professor, pois a escrita deste documento exige observações e anotações constantes, o que somente seria possível no contexto escolar. Contudo, contando com a participação fundamental das famílias que estão desenvolvendo o papel de mediadores das propostas e cientes da importância de assegurar um registro que historicize as experiências/ vivências planejadas para as famílias e crianças da nossa unidade ao longo desse período de pandemia, apresentamos, a seguir, uma síntese do nosso percurso.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As vivências propostas diariamente, foram planejadas tendo em vista a nossa concepção de infância que considera a criança como ser integral e de múltiplas linguagens. De maneira resumida contemplamos:</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>- Linguagem artística, oportunizando vivências que envolvessem desenho, pintura, colagem, modelagem;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>- Linguagem sonora, oportunizando vivências que envolvesse música, sons, ritmos, silêncio;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>- Linguagem verbal, oportunizando vivências que envolvessem oralidade e escrita;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>-Linguagem corporal, oportunizando vivências que envolvessem brincadeiras, movimentos, sentimentos, danças, jogos corporais.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>&nbsp;É importante ressaltar que essas linguagens não foram ofertadas isoladamente, mas sim dentro de um contexto significativo e com foco na educação de um sujeito integral. Ofertamos vivências considerando essas linguagens, pois é através delas que as crianças desenvolvem a&nbsp; expressão, o pensar sobre o mundo, ressignificando-o. Desenhar,&nbsp; recortar, modelar e entrar em contato com obras de arte favorece o desenvolvimento de diferentes aspectos, como a sensibilidade, estética e a valorização da cultura. O lúdico, que permeia sempre nossas vivências, permite que as crianças experimentem viver diferentes personagens, cheguem em acordos para organizar jogos e brincadeiras, tomem decisões, explorem diferentes materiais, usando-os com funções diversas, façam a ligação com regras já assimiladas e compreendam sobre cooperação.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As sugestões de construção de brinquedos esteve presente em nossas propostas, pois acreditamos e incentivamos o protagonismo infantil, desse modo as crianças foram desafiadas a participar ativamente do processo de construção de seu conhecimento, refletindo, superando desafios e aventurando-se em novas experiências, objetivando que este processo gerasse conhecimento significativo e também memórias afetivas. Dentre as propostas de construção de brinquedos sugerimos: fazedor de bolhas de sabão gigante, tambor sonoro, cabuletê ... Nossas propostas levam&nbsp; em consideração os recursos solicitados, atentando sempre para que as famílias tenham facilidade de encontrar os materiais solicitados visto a especificidade do momento de pandemia.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Foram encaminhadas às famílias e crianças sugestões de atividades de brincadeiras conhecidas, construímos uma série de propostas onde o tempo das famílias pudessem se tornar um estreitamento de vínculos e aprendizado, pois acreditamos&nbsp; que brincar em casa, brincar em família, está muito relacionado à disponibilidade afetiva e ao tempo do adulto, entendendo e transmitindo que o brincar não está relacionado ao consumo desenfreado de brinquedos, desse modo, sugerimos: cabaninha, brincadeiras culturais, receitas, pega rabo, brincadeira com os elementos naturais (água e ar), morto ou vivo, invenções infantis (criação livre de brincadeira), entre outras.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Desafiamos nossas crianças a fazer arte em casa, objetivando contribuir com o desenvolvimento das capacidades de expressão, comunicação e construção de saberes na educação infantil. Os resultados de inserção, incentivo e acompanhamento da arte no cotidiano, levam as crianças a despertarem o senso estético e crítico, o gosto pela beleza e organização, além de estimular a percepção, a imaginação criadora e o protagonismo infantil.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Durante esse primeiro semestre, estivemos em constante movimentação no sentido de orientar as famílias/responsáveis para que as crianças continuassem recebendo atenção tanto afetiva, quanto educativa. Foi oferecido também um jornal impresso com as adaptações que essa modalidade de ensino requer. Essas adaptações foram pensadas e planejadas, com a finalidade de atender as especificidades de nossa comunidade, principalmente daqueles que não possuem acesso à internet.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Ainda neste semestre, por meio de uma escuta sensível às vozes das famílias que participam em nossos canais de comunicação, foi observado a necessidade de criarmos e/ou fortalecermos os vínculos afetivos com as crianças de maneira mais próxima, que por sua vez se sentem muitas vezes sozinhas e distantes devido ao contexto vivido, por isso foi planejado encontros periódicos com as crianças. O primeiro deles foi realizado com as famílias a fim de convidá-los e explicarmos melhor essa ação pedagógica. As educadoras expressaram contentamento e satisfação pelo encontro em formato de live,&nbsp; por ter tido um público significativo, com crianças ansiosas por conhecê-las e conhecer seus pares. Após o encerramento, um número expressivo de&nbsp; famílias agradeceram e elogiaram o encontro nos nossos canais de comunicação.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Provocamos nossas crianças com um grande leque de vivências pedagógicas, em que são pensadas e planejadas semanalmente. Convidamo-nas diariamente a participar de cada proposta e como forma de acompanhá-las com a maior proximidade possível,&nbsp; para que consigamos oferecer um suporte a sua aprendizagem, salientamos constantemente que as&nbsp; famílias, após oportunizar esse momento a sua criança, utilize de preferência ,a plataforma oficial Google Classroom para compartilhar por meio de fotos, vídeos e/ou relatos escritos aquele momento. O acompanhamento e participação nos demais canais de comunicação como o Facebook e Whatsapp da turma também são muito bem vindos.</span></p></td></tr></tbody></table></div></strong></p><p><br></p>`;
        var element = stringToHTML(str);
        var doc = element.children
        adicionarCampoHtml(doc);

            </text>
            }
    }
    function quebrarPagina() {
        elementoPrincipal.innerHTML = quebra.cloneNode(true);
        elementoPrincipal.innerHTML = cabecalho.cloneNode(true);
        tamanhoMaximoPagina += tamanhoMaximoPagina;
    }

    function adicionarCampoHtml(componentesHtml) {
        for (var component of componentesHtml) {
            var idComponent = gerarId();
            var tagComponent = stringToHTML(component.outerHTML);
            tagComponent.id = idComponent
            elementoPrincipal.innerHTML = tagComponent;
            //if (!podeImprimir(idComponent)) {
            //    elementoPrincipal.removeChild(tagComponent);
            //    //if (component.children.length) tratarTagsFilhas(component);
            //}
        }
    }


</script>
@*<script type="text/javascript">


            var tamanhoMaximoPagina = 800;
            var quebra = stringToHTML("<div style='page-break-before:always' />");
            var elementoPrincipal = document.getElementById("principal");

        window.onload = function () {
            @{
            <text>



            var cabecalho = stringToHTML(montarCabecalho());

            elementoPrincipal.appendChild(cabecalho);

                var str = `<p><br></p><p dir='ltr' style='line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;'><strong style='font-weight:normal;' id='docs-internal-guid-2d31cb73-7fff-dc32-22b7-1eca10058506'><span style='font-size:12pt;font-family:'Apple Chancery';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>PERCURSO DA TURMA - ENSINO PRESENCIAL</span></strong></p><div dir='ltr' style='margin-left:-5.4pt;' align='left'><table style='border:none;border-collapse:collapse;'><colgroup><col width='661'></colgroup><tbody><tr style='height:260.35pt'><td style='border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:top;padding:0pt 5.4pt 0pt 5.4pt;overflow:hidden;overflow-wrap:break-word;'><p dir='ltr' style='line-height:1.2;text-indent: 35.4pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>O infantil IID está composto por 32 crianças matriculadas, das quais 13 estão no ensino presencial e 19 estão no ensino remoto. As crianças que estão no ensino presencial estão sendo atendidas pelas professoras Gabriela e Luciana; as que estão no ensino remoto estão sendo atendidas pela professora Ellen. Após um longo período de aulas remotas, esse ano voltamos a atender de forma presencial, com cerca de 35% da capacidade da sala referência, uma média de nove crianças por turma. As famílias cujas crianças estão no ensino remoto recebem um compilado diário de uma sugestão de leitura e de uma proposta a ser desenvolvida, por meio das plataformas Google Classroom, Facebook institucional e WhatsApp da turma. A família que não tem acesso às mídias sociais tem a possibilidade de retirar na escola o jornalzinho semanal, com todas as sugestões e propostas da semana. Vale ressaltar que todas as propostas ofertadas às crianças que estão no ensino remoto são também oferecidas no ensino presencial, levando em consideração as peculiaridades e as necessidades das famílias (acesso a materiais, por exemplo).&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As crianças demonstraram muita empolgação e ansiedade por estar de volta ao ambiente escolar, o que teve impacto direto no período de adaptação da turma, que foi tranquilo, sem manifestação externa de medos ou anseios.</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Por conta do período pandêmico que estamos vivendo, muitas das atividades permanentes e a organização dos espaços e materiais tiveram que ser repensadas. Cada criança possui seu próprio material para uso diário (lápis de colorir, cola, pincel, massinha de modelar, tinta guache, copo para beber água, máscaras de proteção facial, caixa de brinquedos, caderno de desenho, livros e gibis), sem a possibilidade de troca entre elas. Na sala referência, as crianças sentam em lugares fixos, uma por mesa, de forma a evitar a aglomeração. Da mesma forma ocorre no refeitório e nos demais espaços da unidade. O parque é utilizado por uma turma de cada, com intervalos entre cada turma para que os brinquedos possam ser higienizados. Do ponto de vista pedagógico, essa forma de organizar os espaços e os materiais não favorece o desenvolvimento dos eixos norteadores da educação infantil - brincadeira e interação - apresentados no documento Currículo da Cidade para a Educação Infantil. Entretanto, essa é a forma possível apresentada pela Secretaria Municipal de Saúde para garantir o atendimento presencial.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As propostas pedagógicas consideraram o aspecto híbrido da divisão da turma, de forma a garantir uma oferta de qualidade para todos. Nesse sentido, procuramos oferecer propostas que valorizassem: o cuidado com o próprio corpo e com os sentimentos; as diferentes culturas nos aspectos linguísticos, literários e das culturas infantis (indígenas, africanas, sul-americanas); as diferentes formas de expressão artística; o contato com a função social da escrita; a leitura e contato com os livros literários; o contato e o cuidado com a natureza e os elementos naturais; a criatividade e a imaginação infantil.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Mesmo com essa organização mais restritiva das interações e dos materiais, procuramos incentivar o protagonismo infantil, a autonomia e o exercício dos princípios democráticos a partir de votações cotidianas, nas quais as crianças têm a possibilidade de decidir sobre aspectos da rotina (escolha de propostas como caixa de brinquedo, modelagem de massinha/argila), escolha de histórias e brincadeiras, de propostas que elas queiram realizar/pesquisar como as fases da lagarta e os cartazes construídos a partir de seus interesses.</span></p><p dir='ltr' style='line-height:1.2;text-indent: 35.4pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>De maneira geral, a turma demonstra ser observadora e participativa, expondo suas opiniões e considerações a todo o momento, inclusive insatisfações quando alguma proposta não agrada e sugestões para alterá-la. &nbsp; &nbsp; As brincadeiras dirigidas propostas – como amarelinha; amarelinha africana; pular elástico; coelhinho sai da toca; Vivo-morto, entre outras -&nbsp; são bem aceitas e reproduzidas em momentos de brincadeira espontânea, o que indica uma apropriação destas em suas vivências. Por conta dos protocolos sanitários, se faz necessário a retomada constante dos combinados coletivos, de forma a evitar troca de materiais/brinquedos e aglomerações (o que elas não gostam muito, mas entendem, por medo de ter as aulas presenciais suspensas novamente). Os conflitos, quando ocorrem, necessitam de nossa intervenção direta, pois percebemos que as crianças ainda estão se adaptando novamente ao convívio coletivo que a escola oportuniza.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-indent: 36pt;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Essa nova forma de organização das propostas e materiais não é a mais adequada, mas, a cada dia, vamos aprendendo juntos o que não dá certo e o que pode melhorar, ou ainda pode ser feito de uma forma diferente. São essas experiências compartilhadas que legitimam o fazer pedagógico a partir dos interesses&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>das crianças. &nbsp;&nbsp;</span></p><br><br><span style='border:none;display:inline-block;overflow:hidden;width:238px;height:179px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.00.22 (1).jpeg' src='https://lh4.googleusercontent.com/16M94V1QifMWYfFoUtX7LYzOobjJEeRX2Blze6RLyR2meWGhe45GOzFOtqN9v91PY5pYxUDhrcKmjK1wLl_S9EigyuWGIPLbx8EYnhPUKnri2J8_juZGZWeqahE7ax7CVv8zlBOZ' width='238' height='179' style='margin-left:0px;margin-top:0px;'></span><span style='border:none;display:inline-block;overflow:hidden;width:244px;height:172px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.54.24.jpeg' src='https://lh3.googleusercontent.com/GzrRrjoCzaNqfjldyTR-e8zeffAVjC9soVq5Nf6mJ9vESgMs3ahnmIxbHJjR0T2xjOg-zl_tY62dRroSE5wuLe6YONjXX7GOcQ38WAqozAfk49pBGWQU6ZuDeM7tkxkEYZwARxSR' width='244' height='172' style='margin-left:0px;margin-top:0px;'></span><br><span style='border:none;display:inline-block;overflow:hidden;width:249px;height:186px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.54.01.jpeg' src='https://lh5.googleusercontent.com/nj26NDQ8C_BQPgOPt4bfrbzMhW7xy_gK6YQ4Z2tKuJla0yEMbx_aobjQcKW9bnjefkwCcVpt16nRaRPxKRK0rEOfBbADZ6IciHtdeiaYutGRVNj8UwMcwZuYsajk8WVcLQ7IeO8p' width='249' height='186' style='margin-left:0px;margin-top:0px;'></span><span style='border:none;display:inline-block;overflow:hidden;width:238px;height:179px;'><img alt='C:\Users\Gabii\Downloads\WhatsApp Image 2021-06-15 at 09.43.20.jpeg' src='https://lh4.googleusercontent.com/sHRsrhRZJwm7zMGePAPjUNc3Xae-iy3MIr5PMFEYYmBMTY1U7EKNMgCBcSHAw2cC500V8J9T3Y8hH4vY43S_YaaNc_i5C7iWOCsomAl1iYxsZtIW3py9VUEk1q7LrQD-xn0xQTGP' width='238' height='179' style='margin-left:0px;margin-top:0px;'></span></td></tr></tbody></table></div><p><strong style='font-weight:normal;' id='docs-internal-guid-2d31cb73-7fff-dc32-22b7-1eca10058506'><br><br><p dir='ltr' style='line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>PERCURSO DA TURMA - ENSINO REMOTO</span></p><br><div dir='ltr' style='margin-left:-5.4pt;' align='left'><table style='border:none;border-collapse:collapse;'><colgroup><col width='661'></colgroup><tbody><tr style='height:260.35pt'><td style='border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:top;padding:0pt 5.4pt 0pt 5.4pt;overflow:hidden;overflow-wrap:break-word;'><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Seguindo a Normativa nº 01 de 28/01/2021, que prevê o atendimento de até 65% dos alunos no formato online ,atendidos pela plataforma oficial da SME - Google Classroom&nbsp; e observando o decreto Decreto nº 59.283/2020, que declara situação de emergência no Município de São Paulo e define outras medidas para o enfrentamento da pandemia decorrente do coronavírus, nós professores e comunidade de ensino da “EMEI ANGELO KRETA' objetivando facilitar a comunicação e melhor conduzir o planejamento pedagógico, nesse primeiro semestre de 2021, elaboramos propostas baseadas em eixos norteadores tendo como objetivo atender às múltiplas demandas educativas da infância, através de propostas lúdicas, promovendo o desenvolvimento de habilidades cognitivas e motoras, as interações no ambiente familiar, ampliação e diversificação de repertórios culturais e saberes, a consciência social e ambiental, além de diversos valores que contribuem para o desenvolvimento emocional, o respeito e a empatia, amparados pelo “Currículo da Cidade de São Paulo” e “Caderno Trilhas de Aprendizagem”, contemplando os direitos da Base Nacional Comum Curricular (BNCC): conviver, brincar, participar, explorar, expressar e conhecer-se.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>A comunidade escolar diante deste desafio do ensino remoto, aprimorou-se&nbsp; profissionalmente para um atendimento remoto de qualidade, ampliando a comunicação com as famílias, objetivando ofertar atividades inclusivas, atrativas e lúdicas, que estimulem a criatividade, a construção de hipóteses, a observação, a ampliação das possibilidades corporais, a comunicação oral, a interação, a manutenção do vínculo com a família e prioritariamente, promovermos ações&nbsp; com foco no acolhimento através de vivências que intencionavam ofertar ferramentas e competências para que as crianças saibam como lidar com o contexto atual. Buscamos incansavelmente meios para suprir as necessidades do ensino remoto, principalmente quando falamos de ensino remoto na educação infantil. Isso porque a concepção de infância que acreditamos traz como um dos preceitos básicos a interação, a exploração, o vivenciar, o experimentar e o brincar que&nbsp; permeiam todas essas ações.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Nesse momento de ensino remoto, as residências das famílias foram consideradas nosso território formativo e potente para a realização das propostas e vivências, ou seja, as casas foram consideradas como um possível “laboratório para se descobrir coisas”: pular, correr, pintar, cozinhar, lavar a louça, ler um livro, teatralizar, contar histórias, caças aos tesouros (como álbuns fotográficos) e até mesmo a realização de uma receita culinária na cozinha da família. Tendo em vista que ⅔ de nossas crianças estão sendo&nbsp; atendidas na modalidade remota, planejamos ações que objetivaram tornar o espaço doméstico em um território de inventar brincadeiras e associá-las aos conhecimentos mais diversos.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>O modelo de ensino remoto inviabiliza a elaboração de um relatório de acompanhamento mais revelador das conquistas, aprendizagens, desenvolvimento e trajetória de cada criança a partir do olhar atento do professor, pois a escrita deste documento exige observações e anotações constantes, o que somente seria possível no contexto escolar. Contudo, contando com a participação fundamental das famílias que estão desenvolvendo o papel de mediadores das propostas e cientes da importância de assegurar um registro que historicize as experiências/ vivências planejadas para as famílias e crianças da nossa unidade ao longo desse período de pandemia, apresentamos, a seguir, uma síntese do nosso percurso.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As vivências propostas diariamente, foram planejadas tendo em vista a nossa concepção de infância que considera a criança como ser integral e de múltiplas linguagens. De maneira resumida contemplamos:</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>- Linguagem artística, oportunizando vivências que envolvessem desenho, pintura, colagem, modelagem;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>- Linguagem sonora, oportunizando vivências que envolvesse música, sons, ritmos, silêncio;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>- Linguagem verbal, oportunizando vivências que envolvessem oralidade e escrita;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>-Linguagem corporal, oportunizando vivências que envolvessem brincadeiras, movimentos, sentimentos, danças, jogos corporais.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>&nbsp;É importante ressaltar que essas linguagens não foram ofertadas isoladamente, mas sim dentro de um contexto significativo e com foco na educação de um sujeito integral. Ofertamos vivências considerando essas linguagens, pois é através delas que as crianças desenvolvem a&nbsp; expressão, o pensar sobre o mundo, ressignificando-o. Desenhar,&nbsp; recortar, modelar e entrar em contato com obras de arte favorece o desenvolvimento de diferentes aspectos, como a sensibilidade, estética e a valorização da cultura. O lúdico, que permeia sempre nossas vivências, permite que as crianças experimentem viver diferentes personagens, cheguem em acordos para organizar jogos e brincadeiras, tomem decisões, explorem diferentes materiais, usando-os com funções diversas, façam a ligação com regras já assimiladas e compreendam sobre cooperação.&nbsp;</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>As sugestões de construção de brinquedos esteve presente em nossas propostas, pois acreditamos e incentivamos o protagonismo infantil, desse modo as crianças foram desafiadas a participar ativamente do processo de construção de seu conhecimento, refletindo, superando desafios e aventurando-se em novas experiências, objetivando que este processo gerasse conhecimento significativo e também memórias afetivas. Dentre as propostas de construção de brinquedos sugerimos: fazedor de bolhas de sabão gigante, tambor sonoro, cabuletê ... Nossas propostas levam&nbsp; em consideração os recursos solicitados, atentando sempre para que as famílias tenham facilidade de encontrar os materiais solicitados visto a especificidade do momento de pandemia.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Foram encaminhadas às famílias e crianças sugestões de atividades de brincadeiras conhecidas, construímos uma série de propostas onde o tempo das famílias pudessem se tornar um estreitamento de vínculos e aprendizado, pois acreditamos&nbsp; que brincar em casa, brincar em família, está muito relacionado à disponibilidade afetiva e ao tempo do adulto, entendendo e transmitindo que o brincar não está relacionado ao consumo desenfreado de brinquedos, desse modo, sugerimos: cabaninha, brincadeiras culturais, receitas, pega rabo, brincadeira com os elementos naturais (água e ar), morto ou vivo, invenções infantis (criação livre de brincadeira), entre outras.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Desafiamos nossas crianças a fazer arte em casa, objetivando contribuir com o desenvolvimento das capacidades de expressão, comunicação e construção de saberes na educação infantil. Os resultados de inserção, incentivo e acompanhamento da arte no cotidiano, levam as crianças a despertarem o senso estético e crítico, o gosto pela beleza e organização, além de estimular a percepção, a imaginação criadora e o protagonismo infantil.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Durante esse primeiro semestre, estivemos em constante movimentação no sentido de orientar as famílias/responsáveis para que as crianças continuassem recebendo atenção tanto afetiva, quanto educativa. Foi oferecido também um jornal impresso com as adaptações que essa modalidade de ensino requer. Essas adaptações foram pensadas e planejadas, com a finalidade de atender as especificidades de nossa comunidade, principalmente daqueles que não possuem acesso à internet.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Ainda neste semestre, por meio de uma escuta sensível às vozes das famílias que participam em nossos canais de comunicação, foi observado a necessidade de criarmos e/ou fortalecermos os vínculos afetivos com as crianças de maneira mais próxima, que por sua vez se sentem muitas vezes sozinhas e distantes devido ao contexto vivido, por isso foi planejado encontros periódicos com as crianças. O primeiro deles foi realizado com as famílias a fim de convidá-los e explicarmos melhor essa ação pedagógica. As educadoras expressaram contentamento e satisfação pelo encontro em formato de live,&nbsp; por ter tido um público significativo, com crianças ansiosas por conhecê-las e conhecer seus pares. Após o encerramento, um número expressivo de&nbsp; famílias agradeceram e elogiaram o encontro nos nossos canais de comunicação.</span></p><p dir='ltr' style='line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;'><span style='font-size:11pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;'>Provocamos nossas crianças com um grande leque de vivências pedagógicas, em que são pensadas e planejadas semanalmente. Convidamo-nas diariamente a participar de cada proposta e como forma de acompanhá-las com a maior proximidade possível,&nbsp; para que consigamos oferecer um suporte a sua aprendizagem, salientamos constantemente que as&nbsp; famílias, após oportunizar esse momento a sua criança, utilize de preferência ,a plataforma oficial Google Classroom para compartilhar por meio de fotos, vídeos e/ou relatos escritos aquele momento. O acompanhamento e participação nos demais canais de comunicação como o Facebook e Whatsapp da turma também são muito bem vindos.</span></p></td></tr></tbody></table></div></strong></p><p><br></p>`;
                var element = stringToHTML(str);
                var doc = element.children
                adicionarCampoHtml(doc);
            </text>
            }
        }

        function quebrarPagina() {
            elementoPrincipal.appendChild(quebra);
            elementoPrincipal.appendChild(cabecalho.cloneNode(true));
            tamanhoMaximoPagina += tamanhoMaximoPagina;
        }

        function adicionarCampoHtml(componentesHtml) {
            for (var component of componentesHtml) {
                var idComponent = gerarId();
                var tagComponent = stringToHTML(component.outerHTML);
                tagComponent.id = idComponent
                elementoPrincipal.appendChild(tagComponent);
                if (!podeImprimir(idComponent)) {
                    elementoPrincipal.removeChild(tagComponent);
                    if(component.children.length) tratarTagsFilhas(component);
                }
            }
        }

        function tratarTagsFilhas(componenteHtml) {
            switch (componenteHtml.tagName) {
                case 'TABLE':
                    tratarTabela(componenteHtml)
                    break;
                case 'DIV':
                    for (var componenteFilho of componenteHtml.children) {
                        tratarTagsFilhas(componenteFilho)
                    }
                    break;
                default: break;
            }
        }

        function tratarTabela(tabela) {
            const tabelaNova = criarNovaTabela(tabela);
            elementoPrincipal.appendChild(tabelaNova);
            var tbodyTags = tabela.getElementsByTagName('tbody');
            if (tbodyTags.length) {
                var tbody = tbodyTags[0];
                if (tbody !== null) {
                    var trs = tbody.getElementsByTagName('tr');
                    for (var tr of trs) {
                        var newTr = document.createElement('tr');
                        newTr.style = tr.style;
                        tabelaNova.getElementsByTagName('tbody')[0].appendChild(newTr);
                        var tds = tr.getElementsByTagName('td');
                        if (tds.length === 1) {
                            var componentesTd = tds[0].children;
                            var newTd = document.createElement('td');
                            newTd.id = gerarId();
                            newTd.style = tds[0].style;
                            newTr.appendChild(newTd);
                            var idTdPrint = newTd.id;
                            for (var i = 0; i <= componentesTd.length; i++) {
                                var idComponente = gerarId();
                                var tdPrint = document.getElementById(idTdPrint);
                                if (componentesTd[i]) {
                                    var newComponente = stringToHTML(componentesTd[i]?.outerHTML);
                                    newComponente.id = idComponente;
                                    tdPrint.appendChild(newComponente);
                                    if (!podeImprimir(idComponente)) {
                                        tdPrint.removeChild(newComponente)
                                        const tabelaProximaPagina = criarNovaTabela(tabela);
                                        quebrarPagina();
                                        var trNextPage = document.createElement('tr');
                                        var tdNextPage = document.createElement('td');
                                        tdNextPage.id = gerarId();
                                        idTdPrint = tdNextPage.id;
                                        elementoPrincipal.appendChild(tabelaProximaPagina)
                                        trNextPage.style = newTr.style;
                                        tdNextPage.style = newTr.style;
                                        trNextPage.appendChild(tdNextPage);
                                        tdNextPage.appendChild(newComponente);
                                        tabelaProximaPagina.getElementsByTagName('tbody')[0].appendChild(trNextPage);
                                    }
                                }
                            }
                        } else {
                            //to-do
                        }
                    }
                }
            }
        }

        function popularTd(td, tdProximaPagina, trNextPage, tabelaProximaPagina) {

        }

        function criarNovaTabela(tabela) {
            var tabelaNova = document.createElement('table');
            var tbody = tabela.getElementsByTagName('tbody');
            tabelaNova.style = tabela.style;
            if (tabela.firstChild.tagName === 'COLGROUP') tabelaNova.appendChild(tabela.firstChild);
            if (tbody !== null) {
                var novoTbody = document.createElement('tbody');
                novoTbody.style = tbody.style;
                tabelaNova.appendChild(novoTbody);
            }
            return tabelaNova;
        }

        function gerarId() {
            return `component-${Math.random()}`;
        }

        function stringToHTML(str) {
            var parser = new DOMParser();
            var doc = parser.parseFromString(str, 'text/html');
            return doc.body;
        }

        function podeImprimir(id) {
            const tagValidar = document.getElementById(id);
            const dimensoesTag = tagValidar.getBoundingClientRect();
            const dimensaoTotal = dimensoesTag.top + dimensoesTag.height;
            return dimensaoTotal <= tamanhoMaximoPagina;
        }

        function montarCabecalho()
        {
            var tag= `<div id='cabecalho'>
                       <img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
                       </div>
                        <div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
                        <div class='titulo-relatorio'>COMPENSAÇÃO DE AUSÊNCIA</div>
                        <div class='fonte-14 header-pagina'>
                        <table class='tblTopo'>
                        <tbody>
                        <tr>
                        <td  width='40%' class='sem-border-bottom'>DRE: @Model.DreNome</td>
                        <td width='40%' class='sem-border-bottom'>UE: @Model.UeNome</td>
                        <td  width='20%' class='sem-border-bottom'>TURMA: @Model.TurmaNome</td>
                        </tr>
                        </tbody>
                        </table>

                        <table>
                        <tbody>
                        <tr>
                        <td width='70%' class='sem-border-bottom'>COMPONENTE CURRICULAR: @Model.ComponenteCurricular</td>
                        <td width='30%' class='sem-border-bottom'>BIMESTRE: @Model.Bimestre</td>
                        </tr>
                        </tbody>
                        </table>

                        <table>
                        <tbody>
                        <tr>
                        <td width='80%'>MODALIDADE: @Model.Modalidade</td>
                        <td width='20%'>DATA: @Model.Data</td>
                        </tbody>
                        </table>
                     </div>`;
            return tag;
        }

    </script>*@
</html>