

@model SME.SR.Infra.RelatorioSondagemComponentesMatematicaNumerosAutoralConsolidadoDto

@{
    int contadorQuebrarPagina = 0;
    int contadorMaximoLinhasPorPagina = 44;
    int contadorPagina = 0;
    int contadorRelatorio2022 = 1;

    string VerificaQuebra(bool podeQuebrar = false)
    {
        if (contadorQuebrarPagina >= contadorMaximoLinhasPorPagina || podeQuebrar)
        {
            contadorQuebrarPagina = 0;
            contadorPagina = contadorPagina + 1;

            return ("<div style='page-break-before:always'></div>" + MontarCabecalho());
        }
        return "";
    }

    string MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 9;
        var str =
            $@"<div>
<img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
</div>
<div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
<div class='titulo-relatorio'> RELATÓRIO DE SONDAGEM</div>
<div class='fonte-14 header-pagina'>
<table class='tblTopo'>
<tbody>
<tr>
<td  width='20%' class='espaco-esquerda-15 sem-border-bottom'>DRE: {Model.Dre}</td>
<td width='60%' class='espaco-esquerda-15 sem-border-bottom'>UE: {Model.Ue}</td>
<td width='20%' class='espaco-esquerda-15 sem-border-bottom'>ANO LETIVO: {Model.AnoLetivo}</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td width='20%' class='espaco-esquerda-15 sem-border-bottom'>ANO: {Model.Ano}</td>
<td width='23%' class='espaco-esquerda-15 sem-border-bottom'>TURMA: {Model.Turma}</td>
<td  width='57%' class='espaco-esquerda-15 sem-border-bottom'>COMPONENTE CURRICULAR: {Model.ComponenteCurricular}</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td  width='50%' class='espaco-esquerda-15 sem-border-bottom'>PROFICIÊNCIA: {Model.Proficiencia}</td>
<td  width='50%' class='espaco-esquerda-15 sem-border-bottom'>PERÍODO: {Model.Periodo}</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td  width='60%' class='espaco-esquerda-15'>USUÁRIO: {Model.Usuario}</td>
<td width='20%' class='espaco-esquerda-15'>RF: {Model.RF}</td>
<td width='20%' class='espaco-esquerda-15'>DATA: {Model.DataSolicitacao}</td>
</tr>
</tbody>
</table>
</div>
";

        return str;
    }

    string EspacoEmBranco()
    {
        <table class="tabela-cabecalho">
            <thead>
            <th class="thLimpo" width="100%"></th>
            </thead>
        </table>

        return "";
    }

    string MontaCabecalhoSondagem(string pergunta)
    {
        <thead>
            <tr>
                <td class="alinhar-esquerda espaco-esquerda-15 negrito" width="32%">
                    @pergunta
                </td>
                <td width="55%" class="negrito">
                    Estudantes
                </td>
                <td width="8%" class="negrito">
                    %
                </td>
            </tr>
        </thead>

        return "";
    }

    string MontaTabelaPerguntasRespostas(SME.SR.Infra.RelatorioSondagemComponentesMatematicaNumerosAutoralConsolidadoPerguntasRespostasDto perguntaRespostas)
    {
        var pergunta = perguntaRespostas.Pergunta;

        <table class="tabela-cabecalho">
            @Html.Raw(MontaCabecalhoSondagem(pergunta))

            <tbody>
                @{
                    contadorQuebrarPagina++;
                    double totalQuantidade = 0;
                }

                @foreach (var respostas in perguntaRespostas.Respostas)
                {
                    int numeroLinhas = (respostas.Resposta.Count() / 40);
                    var quebra = VerificaQuebra();
                    var alunosPercentual = Math.Round(respostas.AlunosPercentual, 2);
                    var alunosPercentualAlterado = alunosPercentual.ToString().Replace(',', '.');

                    <tr>
                        <td class="alinhar-esquerda espaco-esquerda-15">
                            @respostas.Resposta
                        </td>
                        <td>
                            @respostas.AlunosQuantidade
                        </td>
                        <td>
                            @alunosPercentualAlterado

                        </td>
                    </tr>

                    if (numeroLinhas > 1)
                    {
                        contadorQuebrarPagina = contadorQuebrarPagina + numeroLinhas;
                    }
                    else
                    {
                        contadorQuebrarPagina++;
                    }

                    totalQuantidade += respostas.AlunosQuantidade;
                }

                <tr class="fundo-cinza">
                    <td class="alinhar-esquerda espaco-esquerda-15">TOTAL</td>
                    <td>@(totalQuantidade > Model.TotalDeAlunos ? totalQuantidade : Model.TotalDeAlunos)</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>

        contadorQuebrarPagina++;

        return "";
    }

    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Relatório Sondagem</title>
    </head>
    <body class="body-relatorio">
        <style>

            .tblTopo th, td {
                padding: 3px 0;
                text-align: left;
            }

            .body-relatorio {
                margin: 0.5cm auto;
                font-family: 'Roboto Mono';
                width: 21cm;
                min-height: 29.7cm;
                background: white;
                color: #42474a;
            }

            .titulo-sgp {
                text-align: right;
                font-size: 14px;
                font-weight: bold;
            }

            .titulo-relatorio {
                text-align: right;
                font-size: 14.5px;
                margin-top: 7px;
            }

            .header-pagina {
                margin-top: 33px;
                margin-bottom: 22px;
            }

                .header-pagina td {
                    text-align: left;
                }

            table {
                display: table;
                width: 100%;
                border-color: #42474a;
                empty-cells: show;
                border: none;
                border-collapse: collapse;
            }

            thead {
                background-color: #f3f3f3;
            }

            th {
                border: 1px solid #42474a;
                font-weight: normal;
            }

            td {
                border: 1px solid #42474a;
                text-align: center;
            }

            .tabela-cabecalho tr {
                font-size: 12px;
                height: 24px;
            }

            .mt-25 {
                margin-top: 25px;
            }

            .fonte-14 {
                font-size: 14px !important;
            }

            .alinhar-esquerda {
                text-align: left;
            }

            .espaco-esquerda-15 {
                padding-left: 15px;
            }

            .fundo-cinza {
                background-color: #f3f3f3;
            }

            .negrito {
                font-weight: bold;
            }

            .sem-border-bottom {
                border-bottom: 0;
            }

            .sem-border-top {
                border-bottom: 0;
            }

            .thLimpo {
                background-color: #ffffff;
                border: 0;
                height: 22px;
            }

            .img-logo-sgp {
                height: 64px;
                float: left;
            }

            .centralizar {
                text-align: center;
            }
        </style>
        <div>
            @{
                @Html.Raw(MontarCabecalho())

                for (var i = 0; i < Model.PerguntasRespostas.Count; i++)
                {

                    @Html.Raw(VerificaQuebra());

                    @Html.Raw(MontaTabelaPerguntasRespostas(Model.PerguntasRespostas[i]));

                    if (i < Model.PerguntasRespostas.Count - 1)
                    {
                        @Html.Raw(EspacoEmBranco());
                        contadorQuebrarPagina++;
                    }

                    if (Model.AnoLetivo >= 2022)
                    {
                        if (contadorRelatorio2022 % 3 == 0 && Convert.ToInt32(Model.Ano) < 6)
                        {
                            @Html.Raw(VerificaQuebra(true));
                        }

                        if (contadorRelatorio2022 % 2 == 0 && Convert.ToInt32(Model.Ano) >= 6)
                        {
                            @Html.Raw(VerificaQuebra(true));
                        }
                    }

                    contadorRelatorio2022++;
                }

                if (Model.GraficosBarras != null && Model.GraficosBarras.Any())
                {


                    int groupings = 2;
                    var grouped = Model.GraficosBarras.Select((x, i) => new { x, i = i / groupings })
                                  .GroupBy(x => x.i, x => x.x);

                    var maxTabelasPorPagina = 2;
                    var iCount = 0;

                    //Verificando página inicial que irá receber os primeiros relatórios
                    if (contadorQuebrarPagina <= 26 && contadorQuebrarPagina > 20)
                        iCount = 1;
                    else if (contadorQuebrarPagina > 35)
                        iCount = 2;


                    @foreach (var items in grouped)
                    {
                        if (iCount >= maxTabelasPorPagina)
                        {
                            @Html.Raw(VerificaQuebra(true))
                            iCount = 1;
                        }
                        else
                        {
                            iCount++;
                        }

                        <table style="border:none; border-color: #ffffff!important; margin-top:30px; ">
                            <tbody>
                                <tr>
                                    @foreach (var item in items)
                                    {
                                        <td style="border:none; border-color: #ffffff!important">@await Html.PartialAsync("Graficos/GraficoBarras", item, new ViewDataDictionary(ViewData) { { "tamanhoFonte", "11px" } })</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            }
        </div>
    </body>
    <script>
    window.onload = function () {
    @{
        foreach (var item in Model.GraficosBarras)
        {
        <text>
             drawBarChart_@(item.IdParaLastro)();
        </text>
        }
    }

    }
    </script>
</html>
}

