@model SME.SR.Infra.AdesaoAERetornoDto

@{
    int contadorQuebrarPagina = 0;
    int contadorMaximoLinhasPorPagina = 39;
    int contadorPagina = 0;

    bool VerificaQuebra()
    {
        if (contadorQuebrarPagina >= contadorMaximoLinhasPorPagina)
        {
            contadorQuebrarPagina = 0;
            contadorPagina = contadorPagina + 1;
            return true;
        }
        return false;
    }

    void MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 9;
        <div>
            <img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
        </div>
        <div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
        <div class='titulo-relatorio'> RELATÓRIO DE ADESÃO</div>
        <div class='fonte-14 header-pagina'>
            <table class='tblTopo'>
                <tbody>
                <tr>
                    <td  width='50%' class='espaco-esquerda-15 sem-border-bottom'>DRE: @Model.DRENome</td>
                    <td width='50%' class='espaco-esquerda-15 sem-border-bottom'>UE: @Model.UeNome</td>
                </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td  width='60%' class='espaco-esquerda-15'>USUÁRIO: @Model.UsuarioNome</td>
                        <td width='20%' class='espaco-esquerda-15'>RF: @Model.UsuarioRF</td>
                        <td width='20%' class='espaco-esquerda-15'>DATA: @Model.Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    void MontarCabecalhoListarUes()
    {
        <thead>
            <tr>
                <td colspan="6">ADESÃO DE RESPONSÁVEIS</td>
            </tr>
            <tr>
                <td width="25%"></td>
                <td width="15%">
                    SEM CPF OU CPF INVÁLIDO NO EOL
                </td>
                <td width="15%">
                    NÃO REALIZARAM
                    A INSTALAÇÃO
                </td>
                <td width="15%">
                    PRIMEIRO ACESSO INCOMPLETO
                </td>
                <td width="15%">
                    VÁLIDOS
                </td>
                <td width="15%">
                    TOTAL
                </td>
            </tr>
        </thead>
    }

    void MontarListarUes()
    {
        <table class="tabela-cabecalho">
            @{
                MontarCabecalhoListarUes();
            }

            <tbody>
                <tr>
                    <td class="fundo-cinza">@Model.DRE.Valores.Nome L -> @contadorQuebrarPagina</td>
                    <td>@Model.DRE.Valores.SemCpfOuCpfInvalido</td>
                    <td>@Model.DRE.Valores.NaoRealizaram</td>
                    <td>@Model.DRE.Valores.PrimeiroAcessoIncompleto</td>
                    <td>@Model.DRE.Valores.Validos</td>
                    <td>@Model.DRE.Valores.Total</td>
                </tr>
                <tr style="height:8px"><td colspan="6"></td></tr>

            </tbody>
        </table>

        contadorQuebrarPagina = contadorQuebrarPagina + 4;

        @foreach (var ue in Model.DRE.Ues)
        {
            int numeroLinhas = (ue.Nome.Length / 30);

            if (numeroLinhas > 1)
            {
                contadorQuebrarPagina = contadorQuebrarPagina + numeroLinhas;
            }
            else
            {
                contadorQuebrarPagina++;
            }

            var quebra = VerificaQuebra();

            if (quebra)
            {
                <div style='page-break-before:always'></div>                
                MontarCabecalho();
                
                <table class="tabela-cabecalho">
                    @{
                        MontarCabecalhoListarUes();
                    }
                </table>
            }

            <table class="tabela-listar-ues">
                <tbody>
                    <tr>
                        <td class="fundo-cinza" width="25%">@ue.Nome</td>
                        <td width="15%">@ue.SemCpfOuCpfInvalido</td>
                        <td width="15%">@ue.NaoRealizaram</td>
                        <td width="15%">@ue.PrimeiroAcessoIncompleto</td>
                        <td width="15%">@ue.Validos</td>
                        <td width="15%">@ue.Total</td>
                    </tr>
                </tbody>
            </table>
        }
    }
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório de adesão</title>
</head>
<body class="body-relatorio">
    <style>
        .tblTopo th, td {
            padding: 3px 1px;
            text-align: left;
        }

        .body-relatorio {
            margin: 0.5cm auto;
            font-family: Roboto, sans-serif;
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-relatorio {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
            }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
            padding: 3px 1px;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
        }

        .tabela-cabecalho tr {
            font-size: 10px;
            height: 24px;
        }

        .mt-25 {
            margin-top: 25px;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .espaco-esquerda-15 {
            padding-left: 15px;
        }

        .negrito {
            font-weight: bold;
        }

        .sem-border-bottom {
            border-bottom: 0;
        }

        .sem-border-top {
            border-bottom: 0;
        }

        .thLimpo {
            background-color: #ffffff;
            border-top: 0;
            border-bottom: 0;
            height: 22px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .centralizar {
            text-align: center;
        }

        .coluna-vazia {
            border: 0;
            background: white;
        }

        .quebra-palavra {
            word-break: break-word;
        }

        .fundo-cinza {
            background-color: #f3f3f3;
        }

        .sem-border-bottom-top {
            border-top: 0;
            border-bottom: 0;
        }

        .tabela-listar-ues tr {
            border-left: 1px solid #42474a;
        }

        .tabela-listar-ues td {
            border: 0;
            border-right: 1px solid #42474a;
            border-bottom: 1px solid #42474a;
            font-size: 10px;
            height: 24px;
            padding: 3px 1px;
        }
    </style>
    <div>
        @{
            MontarCabecalho();

            if (Model.MostraDRE)
            {
                MontarListarUes();
            }
        }
    </div>
</body>
</html>